.sonos ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sonos ul .name,
.sonos ul .art {
  display: inline-block;
  vertical-align: middle;
}
.sonos ul .name {
  padding: 0px .25em;
}
.sonos ul .art img {
  height: 100px;
}
.sonos ul .type,
.sonos ul .room {
  font-size: 50%;
  padding: .25em .5em;
}
.sonos ul .song {
	padding: 0px 0px;
	position: relative;
}
.sonos ul.flip {
  direction: rtl;
}
